* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5e50b1;
  font-family: Arial, Helvetica, sans-serif;

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 { 
  color: #5648AA;
  font-size: 40px;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.bee1 {
 position: relative;
}

.bee2 {
 position: absolute;
 right:10px;
}

#beehive { 
  text-align: left;
  align-items: left;
  margin: 13px 14px;
  position: absolute;
}

.button 
{
  text-align: center;
  background-color: #fbe565;
  color: black;
  cursor: pointer;
  padding: 20px 70px;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 20px;
  border: solid 3px #DABC0E;
  width: 350px;
  height: 150px;
}

.button:hover 
{
  transition: all 0.3s ease-in-out;
  background-color: #BBAB4C;
  border: solid 3px #fbe565;
}

.rectangle
{
  text-align: center;
  height: 15%;
  width: 70%;
  background-color: #FFFFFF;
  border: 5px outset black;
  border-radius: 10px;
  padding: 20px;
}

 .centered 
{
  position: absolute;
  top: 1%;
  left: 1%;
  }

#instructionbee 
{ 
  text-align: center;
  align-items: right;
  margin: 100px 100px;
  position: center;
}
