* {
  margin: 0;
  padding: 0;
}

body {/*sets the background color of all pages of Calculations to #fbe565, and imports said fonts*/
  background-color: #5e50b1;
  font-family: Arial, Helvetica, sans-serif;

}

section {/*sets attributes for eac section*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 { /*sets the color of header 1 on all pages of Calculations to #5648AA, and adjusts the location and font size*/
  color: #5648AA;
  font-size: 40px;
  text-align: center;
}

p {/*sets the color of p on all pages of Calculations to #f70a0a, and adjusts the location and font size*/
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.bee1 {/*setting position of bee image*/
 position: relative;
}

.bee2 {/*setting position of bee image*/
 position: absolute;
 right:10px;
}

#beehive { /*setting position of bee hive image*/
  text-align: left;
  align-items: left;
  margin: 13px 14px;
  position: absolute;
}

#bigbee { /*setting position of bigbee image*/
  text-align: left;
  align-items: left;
  margin: -140px -120px;
  position: relative;
}

.button 
{/*sets the color of all buttons on all pages of Calculations to #f32623 and white, and adjusts the location, font size, and border*/
  text-align: center;
  background-color: #fbe565;
  color: black;
  cursor: pointer;
  padding: 15px 60px;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 15px;
  border: solid 3px #DABC0E;
  width: 350px;
  height: 150px;
}

.button:hover 
{/*when you hover over the buttons in all pages of Calculations, they change to a tint darker, to signify you're hovering over*/
  transition: all 0.3s ease-in-out;
  background-color: #BBAB4C;
  border: solid 3px #fbe565;
}

.rectangle
{/*sets the color of all rectangle on all pages of Calculations to #FFFFFF, and adjusts the location and border(div class)*/
  text-align: center;
  height: 15%;
  width: 70%;
  background-color: #FFFFFF;
  border: 5px outset black;
  border-radius: 10px;
  padding: 20px;
}

 .centered 
{
  position: absolute;
  top: 1%;
  left: 1%;
  }

body {/*set background colour*/
  background: #368dda;
}

.bubble {/*sets attributes for speech bubble*/
   align-items: right;
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 250px;
  background: #fff;
  border-radius: 40px;
  border: 3px outset black;
  padding: 15px;
  text-align: center;
  color: #000;
  right: 550px;
  bottom: 120px;
}

.bubble-bottom-left:before {/*sets attributes for triangle attached to speech bubble*/
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
