* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #897BD8;
  font-family: Arial, Helvetica, sans-serif;

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 { 
  color: #5648AA;
  font-size: 40px;
  text-align: center;
}

p {
  color: #3C317E;
  font-size: 20px;
  font-weight: 800;
}

.button {
  text-align: center;
  background-color: #FFF672;
  color: black;
  cursor: pointer;
  padding: 50px 100px;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 20px;
  border: solid 3px #EBD701;
}

.button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #F2DD00;
  border: solid 3px #E7D300;
}

.rectangle
{
  height: 60%;
  width: 60%;
  background-color: #FFFFFF;
  border: 5px outset black;
  border-radius: 10px;
}
